<?xml version='1.0' encoding='utf-8'?>
<widget id="ch.w3tec.boilerplate" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Title</name>
    <description>
        Description
    </description>
    <author email="info@w3tec.ch" href="http://w3tec.ch">
        Author
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="webviewbounce" value="false" />
    <preference name="UIWebViewBounce" value="false" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="BackupWebStorage" value="none" />
    <preference name="StatusBarBackgroundColor" value="#ffffff" />
    <feature name="StatusBar">
        <param name="ios-package" onload="true" value="CDVStatusBar" />
    </feature>
</widget>
